<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <span><a class="navbar-brand" href="#"><h1>Assignment2</h1></a></span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login"><h1>SignIn</h1> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signup"><h1>SignUp</h1> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
