.logoutBtn{
    margin-left: 1500px;
    background-color: rgb(8, 110, 8);
    border:0;
}
.pages{
    background-color: #343a40;
    padding: 13px 0 3px 0;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }