.col-sm{
    color: white;
    text-align: center;
    border: 10px solid rgb(9, 200, 9);
    border-radius: 10px;
}
.btn{
    padding:7px 30px 0 30px;
}
a{
    color:white;
}
.logoutBtn{
    margin-left: 1500px;
    background-color: rgb(8, 110, 8);
    border:0;
}